.section-title__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 23px;
}

.section-title__line {
  border-top: 1px solid #000;
}

@media screen and (max-width: 450px) {
  .section-title__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 28px;
  }
}