.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__content {
  width: 410px;
  margin: 74px 0 70px;
}

.profile__edit {
  display: block;
  margin: 220px auto 16px;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.profile__edit:hover {
  opacity: .5;
  cursor: pointer;
}

.profile__greeting {
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-align: center;
  margin: 0 0 123px;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border: none;
}

.profile__input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  text-align: end;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.profile__input:focus {
  background: linear-gradient(#F9F9F9, #DCDCDC);
}

.profile__label {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  margin: 0;
}

.profile__line {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #E8E8E8;
  margin: 16px 0 17px;
}

.profile__quit {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FF3055;
  text-decoration: none;
}

.profile__quit:hover {
  opacity: .7;
}


@media screen and (max-width: 850px) {
  .profile__content {
    margin: 236px 0 269px;
  }

  .profile__edit {
    margin-top: 210px;
  }

  .profile__greeting {
    margin: 0 0 96px;
  }
}

@media screen and (max-width: 450px) {
  .profile__content {
    width: 260px;
    margin: 70px 0 40px;
  }

  .profile__edit {
    margin-top: 379px;
  }

  .profile__greeting {
    margin: 0 0 80px;
  }
}