.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item:hover {
  background-color: #E8E8E8;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__name {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #000;
  margin: 20px 0;
}

.portfolio__separate-line {
  height: 1px;
  border: 0;
  background-color: #E6E6E6;
  margin: 0;
}

.portfolio__sign {
  width: 29px;
  height: 29px;
}

.portfolio__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0 0 50px;
}

@media screen and (max-width: 800px) {
  .portfolio__name {
    font-size: 28px;
  }

  .portfolio__sign {
    width: 27px;
    height: 27px;
  }
}

@media screen and (max-width: 626px) {
  .portfolio__name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__sign {
    width: 18px;
    height: 18px;
  }
}
