.navigation {
  display: flex;
  align-items: center;
}

.navigation__ico-wrapper {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
}

.navigation__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  margin-left: 20px;
  padding: 0;
}

.navigation__link:first-of-type {
  visibility: hidden;
}

.navigation__link:hover {
  opacity: .8;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__menu {
  padding: 0;
  display: flex;
}

.navigation__profile {
  width: 100px;
  height: 30px;
  margin-left: 50px;
}

.navigation__profile-link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.navigation__profile-link:hover {
  opacity: .8;
}

.navigation__profile-link_active {
  font-weight: 500;
}

.navigation__profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .navigation {
    margin: 105px 0 93px;
    height: calc(100vh - 159px - 93px);
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation_closed {
    display: none;
  }

  .navigation__link {
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 28px;
  }

  .navigation__link:first-of-type {
    visibility: visible;
  }

  .navigation__link_active {
    border-bottom: 2px solid #000;
  }

  .navigation__menu {
    flex-direction: column;
    align-items: center;
  }

  
}

@media screen and (max-width: 520px) {
  .navigation {
    margin: 100px 0 48px;
    height: calc(100vh - 144px - 48px);
  }

  .navigation__link {
    margin-bottom: 24px;
  }
}
