.search {
  width: 100%;
  height: 72px;
  background-color: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  margin: 70px 0;
  display: flex;
  align-items: center;
}

.search__button {
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: #FDFDFD
}

.search__button:hover {
  opacity: .8;
  cursor: pointer;
}

.search__content {
  width: calc(100% - 227px);
  padding: 19px;
  padding-right: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  border: none;
}

.search__icon {
  width: 34px;
  height: 34px;
}

.search__input {
  width: calc(100% - 34px * 2);
  border: none;
  padding: 0;
  background-color: #FDFDFD;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__input::-webkit-search-cancel-button {
  appearance: none;
  width: 30px;
  height: 30px;
  background: url('../../images/cross-icon.svg') center no-repeat;
  margin-right: 10px;
  cursor: pointer;
}

.search__input:focus {
  outline: none;
}

.search__line {
  height: 1px;
  border: 0;
  margin: 0;
  margin-bottom: 10px;
  background-color: #E8E8E8;
}

.search__sign {
  width: 34px;
  height: 34px;
}

.search__vertical {
  width: 40px;
  height: 1px;
  background-color: #CBCBCB;
  border: 0;
  margin: 0;
  transform: rotate(90deg);
}

@media screen and (max-width: 770px) {
  .search {
    margin: 80px 0 109px;
  }
}

@media screen and (max-width: 450px) {
  .search {
    position: relative;
  }

  .search__content {
    width: 100%;
    padding: 19px;
    justify-content: space-between;
  }

  .search__icon {
    display: none;
  }

  .search__input {
    font-size: 14px;
  }

  .search__vertical {
    display: none;
  }
}
  